<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A chatbot that infers the intent of a financial services inquiry.">
  <meta name="keywords" content="chatbot, fastai, machine learning">
  <meta name="author" content="Andy Cary, Bhargavi Karthik, Rajkumar Sengottuvel">

  <title>
    Chatbot - Customer Service
  </title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <!-- Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <!-- Custom styles for current template -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">

  <!-- Chatbot specific -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/dark.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
  <script src="{{ url_for('static', filename='js/messages.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dark.js') }}"></script>

  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">

</head>

<body>

  <input id="dark-mode" class="dark-mode-checkbox visually-hidden" type="checkbox">
  <div class="theme-container grow">
    <div class="container">
      {% include 'nav_bar.html' %}
    </div>
    {% block content %}{% endblock %}
  </div>


</body>

</html>
