<div class="blog-header">
  <div class="container">

    <h1 class="blog-title">Training an NLP Chatbot for Intent Classification with Transfer Learning</h1>
    <p class="lead blog-description">Scalable Machine Learning</p>
  </div>
</div>

<div class="container">

  {% include 'intro.html' %}
  {% include 'media_list.html' %}
  {% include 'ulm_fit.html' %}
  {% include 'bert.html' %}
  {% include 'oos_accuracy.html' %}
  {% include 'deployment.html' %}
  {% include 'future_work.html' %}
  {% include 'references.html' %}

</div><!-- /.container -->

<footer class="blog-footer">
  <p>The University of Texas at Austin. Fall 2019.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
