<div class="row">

  <div class="col-sm-8 blog-main">
    <a name="future_work"></a>
    <div class="blog-post">

      <h2>Future Work</h2>

      <ul>
        <li>ULMFiT</li>
        <li>BERT - Fine-tune the TensorFlow implementation of the classifier using bert-tensorflow to improve the accuracy and host the model.</li>
        <li>Deployment - Build out the workflow for handling queries according to intent classifications, such as connecting inquiries to related knowledge bases and out-of-scope queries to agent queues for intervention.</li>
      </ul>

        <p>Furthermore, I (Rajkumar) will be looking to extend this work to classify web content into custom taxonomy classes at my work. This will enable our organization to do automatic tagging of content to be able to find personalize for the web users.</p>

    </div><!-- /.media_list -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <!-- <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>The final project for Scalable Machine Learning, Fall 2019.</p>
    </div> -->
    <div class="sidebar-module">
      <!-- <h4>Section</h4> -->
      <!-- <ol class="list-unstyled">
        <li><a href="#deploy_challenges">Challenges</a></li>
        <li><a href="#deploy_app">Application</a></li>
        <li><a href="#deploy_env">Environment</a></li>
        <li><a href="#deploy_code">Code</a></li>
      </ol> -->
    </div>
    <div class="sidebar-module">
      <!-- <h4>Links</h4>
      <ol class="list-unstyled">
        <li><a href="#">Andy</a></li>
        <li><a href="#">Bhargavi</a></li>
        <li><a href="#">Rajkumar</a></li>
      </ol> -->
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
