<div class="row">

  <div class="col-sm-8 blog-main">
    <a name="intro"></a>
    <div class="blog-post">
      <h2 class="blog-post-title">Training an NLP Chatbot with ULMFiT and BERT — and Deploying to the Cloud</h2>
      <p class="blog-post-meta">By <a href="https://github.com/acary" target="_blank">Andy Cary</a>, <a href="https://github.com/bkarthikUT" target="_blank">Bhargavi Karthik</a>, and <a href="https://github.com/sengorajkumar" target="_blank">Rajkumar
          Sengottuvel</a></p>
      <p class="blog-post-meta">December 14, 2019</p>

      {% include 'gallery.html' %}

      <!-- Executive Summary -->
      <p>Chatbots are widely becoming adopted by businesses in sectors such as Banking and Financial Services to automate and scale customer service areas that previously required live agents to support.<p>

          <p>The automated detection and calibrated response to real-time customer queries can have an enormous financial impact in terms of revenue (i.e. lead generation, sales and marketing optimization) and cost savings (agent headcount, customer
            retention) when trained and deployed effectively.</p>

          <p>The Machine Learning (ML) sub-field of Natural Language Processing (NLP) and within it, Intent Classification, provides tools and techniques to create effective and highly accurate customer response and routing workflows that can benefit
            business organizations.</p>

          <p>Our final project focuses on Transfer Learning involving the training of an intent classification machine learning model within a chatbot user interface for banking and financial services.</p>


          <p>Our data source is a subset of <a href="" targt="_blank">An Evaluation Dataset for Intent Classification and Out-of-Scope Prediction (Stefan et al, 2019)</a> from which we selected domains related to banking and financial services.</p>

          <p>We provide an architectural overview of our machine learning system and in the evaluation, we compare the performance of two state of the art NLP models, namely BERT and ULMFiT. Further, we propose a novel methodology to
            semi-automatically improve the out-of-scope accuracy for NLP based classifiers.</p>

          <p>Lastly, we provide a live deployment of our machine Learning system comprised of a web application and cloud-hosted model as it would be deployed and operational for a banking and financial services website.</p>
    </div><!-- /.blog-post -->

    <!-- <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="#">Older</a>
      <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
    </nav> -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>The final project for Scalable Machine Learning, Fall 2019.</p>
    </div>
    <div class="sidebar-module">
      <h4>Contents</h4>
      <ol class="list-unstyled">
        <li><a href="#intro">Introduction</a></li>
        <li><a href="#ULMFiT">Approach 1: ULMFiT</a></li>
        <li><a href="#bert">Approach 2: BERT</a></li>
        <li><a href="#oos">Out-of-scope Accuracy</a></li>
        <li><a href="#deployment">Deployment</a></li>
        <li><a href="#future_work">Future Work</a></li>
        <li><a href="#references">References</a></li>
      </ol>
    </div>
    <div class="sidebar-module">
      <h4>Links</h4>
      <ol class="list-unstyled">
        <li><a href="https://github.com/acary" target="_blank">Andy Cary</a></li>
        <li><a href="https://github.com/bkarthikUT" target="_blank">Bhargavi Karthik</a></li>
        <li><a href="https://github.com/sengorajkumar" target="_blank">Rajkumar Sengottuvel</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
