<div class="row">

  <div class="col-sm-8 blog-main">
    <a name="intro"></a>
    <div class="blog-post">
      <h2 class="blog-post-title">Training an NLP Chatbot with UMLFit and BERT — and Deploying to the Cloud</h2>
      <p class="blog-post-meta">By <a href="https://github.com/acary" target="_blank">Andy Cary</a>, <a href="https://github.com/bkarthikUT" target="_blank">Bhargavi Khartik</a>, and <a href="https://github.com/sengorajkumar" target="_blank">Rajkumar Sengottuvel</a></p>
      <p class="blog-post-meta">December 14, 2019</p>
      
      <p>Chatbots are widely becoming adopted by businesses in sectors such as Banking and Financial Services and Real Estate to automate and scale customer service areas that previously required live agents to support.<p>

      <p>The automated detection and calibrated response to real-time customer queries can have an enormous financial impact in terms of revenue (i.e. lead generation, sales and marketing optimization) and cost savings (agent headcount,
        customer
        retention) when trained and deployed effectively.</p>

      <p>The Machine Learning (ML) sub-field of Natural Language Processing (NLP) and within it, Intent Classification, provides tools and techniques to create effective and highly accurate customer response and routing workflows that can
        benefit business organizations.</p>

      <p>Our final project focuses on Transfer Learning involving the training of an intent classification machine learning model from banking and financial services as transferred to a housing-related business website.</p>

      <p>We are using an intent classification dataset containing 1113 observations related to a financial services company and testing against a curated dataset that we collected manually.</p>

      <p>Lastly, we present an architectural overview and demonstration of our Machine Learning system comprised of a web application and cloud-hosting model as it would be deployed and operational for a fast-growing real estate startup.</p>
    </div><!-- /.blog-post -->

    <!-- <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="#">Older</a>
      <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
    </nav> -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>The final project for Scalable Machine Learning, Fall 2019.</p>
    </div>
    <div class="sidebar-module">
      <h4>Contents</h4>
      <ol class="list-unstyled">
        <li><a href="#intro">Introduction</a></li>
        <li><a href="#ULMFiT">Approach 1: ULMFiT</a></li>
        <li><a href="#bert">Approach 2: BERT</a></li>
        <li><a href="#oos">Out-of-scope Accuracy</a></li>
        <li><a href="#deployment">Deployment</a></li>
      </ol>
    </div>
    <div class="sidebar-module">
      <h4>Links</h4>
      <ol class="list-unstyled">
        <li><a href="https://github.com/acary" target="_blank">Andy Cary</a></li>
        <li><a href="https://github.com/bkarthikUT" target="_blank">Bhargavi Khartik</a></li>
        <li><a href="https://github.com/sengorajkumar" target="_blank">Rajkumar Sengottuvel</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
