<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post">
      <ul class="list-unstyled">
        <li class="media">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="ULMFit" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">ULMFit</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media my-4">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="BERT" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">BERT</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="Deploying the Model" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Deploying the Model</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </ul>
    </div><!-- /.media_list -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <!-- <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>The final project for Scalable Machine Learning, Fall 2019.</p>
    </div> -->
    <div class="sidebar-module">
      <!-- <h4>Contents</h4>
      <ol class="list-unstyled">
        <li><a href="#">Introduction</a></li>
        <li><a href="#">Approach 1: ULMFiT</a></li>
        <li><a href="#">Approach 2: BERT</a></li>
        <li><a href="#">Deployment</a></li>
      </ol> -->
    </div>
    <div class="sidebar-module">
      <!-- <h4>Links</h4>
      <ol class="list-unstyled">
        <li><a href="#">Andy</a></li>
        <li><a href="#">Bhargavi</a></li>
        <li><a href="#">Rajkumar</a></li>
      </ol> -->
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
