<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post">
      <ul class="list-unstyled">
        <li class="media">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="ULMFiT" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">ULMFiT</h5>
            We showcase how to build an intent classification model using Fastai's ULMFiT approach for a domain specific dataset, that can be exported and integrated with chatbot web application.
          </div>
        </li>
        <li class="media my-4">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="BERT" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">BERT</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media my-4">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="Out-of-scope Accuracy" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Novel Methodology to Improve Out-of-scope Accuracy</h5>
            To build a robust task-oriented dialogue system, it is important to have good accuracy for both in-scope intent classification and also to identify those queries that are out-of-scope. Consider a chatbot for a banking application that interacts with customers, identifies the intent of their queries and redirects them to the appropriate representatives. If such a system cannot correctly identify out-of-scope queries, it could waste significant amount of time for both the customers and the banking representatives due to wrong routing. Previous work by Stefan et. al, 2019 clearly showcase that when state-of-the art NLP models are used for intent classification, they suffer from poor out-of-scope accuracy. We propose a novel methodology to augment an existing domain specific dataset with out-of-scope queries using a generative NLP language model.  We show that our methodology can achieve up to 1.8X improvement in out of scope accuracy.
          </div>
        </li>
        <li class="media">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="Deploying the Model" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Deploying the Model</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </ul>
    </div><!-- /.media_list -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <!-- <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>The final project for Scalable Machine Learning, Fall 2019.</p>
    </div> -->
    <div class="sidebar-module">
      <!-- <h4>Contents</h4>
      <ol class="list-unstyled">
        <li><a href="#">Introduction</a></li>
        <li><a href="#">Approach 1: ULMFiT</a></li>
        <li><a href="#">Approach 2: BERT</a></li>
        <li><a href="#">Deployment</a></li>
      </ol> -->
    </div>
    <div class="sidebar-module">
      <!-- <h4>Links</h4>
      <ol class="list-unstyled">
        <li><a href="#">Andy</a></li>
        <li><a href="#">Bhargavi</a></li>
        <li><a href="#">Rajkumar</a></li>
      </ol> -->
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
