<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post">
      <ul class="list-unstyled">
        <li class="media">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="ULMFiT" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">ULMFiT</h5>
            We showcase how to build an intent classification model using Fastai's ULMFiT approach for a domain specific dataset, that can be exported and integrated with chatbot web application. See more on <a href="#ULMFiT">ULMFiT</a>.
          </div>
        </li>
        <li class="media my-4">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="BERT" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">BERT</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. See more on <a href="#bert">BERT</a>.
          </div>
        </li>
        <li class="media my-4">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="Out-of-scope Accuracy" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Novel Methodology to Improve Out-of-scope Accuracy</h5>
            A robust task-oriented dialogue system is expected to have good accuracy for both in-scope intent classification and those that are out-of-scope as a chatbot that is not capable of identifying out of scope queries correctly can potentially waste a lot of customer and the business’s time. Previous work (Stefan et al, 2019) have identified this as a problem with state-of-the art NLP techniques. In this work, we propose a novel methodology to solve this pain point and improve out of scope accuracy by up to 1.8X. See more on <a href="#oos">Improving Out-of-scope accuracy</a>.
          </div>
        </li>
        <li class="media">
          <img src="{{ url_for('static', filename='img/chatbot.png')}}" alt="Deploying the Model" class="mr-3 media_list">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Deploying the Model</h5>
            We deployed the Fast.ai/PyTorch models served through a Python web application on the Google App Engine Flexible hosting environment. The models are hosted within the application, which takes input text, evaluates the classification against our pre-trained models, and renders its result to the user in a conversational interface. See more on <a href="#deployment">Deployment</a>.
          </div>
        </li>
      </ul>
    </div><!-- /.media_list -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <!-- <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>The final project for Scalable Machine Learning, Fall 2019.</p>
    </div> -->
    <div class="sidebar-module">
      <!-- <h4>Contents</h4>
      <ol class="list-unstyled">
        <li><a href="#">Introduction</a></li>
        <li><a href="#">Approach 1: ULMFiT</a></li>
        <li><a href="#">Approach 2: BERT</a></li>
        <li><a href="#">Deployment</a></li>
      </ol> -->
    </div>
    <div class="sidebar-module">
      <!-- <h4>Links</h4>
      <ol class="list-unstyled">
        <li><a href="#">Andy</a></li>
        <li><a href="#">Bhargavi</a></li>
        <li><a href="#">Rajkumar</a></li>
      </ol> -->
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
