<hr>

<div class="row">

  <div class="col-sm-8 blog-main">
    <a name="references"></a>
    <div class="blog-post">

      <h2>References</h2>

      <ul>
        <li>https://course.fast.ai/videos/?lesson=4</li>
        <li>https://arxiv.org/pdf/1801.06146.pdf</li>
        <li>https://arxiv.org/pdf/1909.02027.pdf</li>
        <li>https://arxiv.org/pdf/1803.09820.pdf</li>
        <li>https://talktotransformer.com/</li>
        <li>https://github.com/google-research/bert</li>
        <li>https://pypi.org/project/simpletransformers/</li>
        <li>https://github.com/huggingface/transformers</li>
      </ul>
    </div><!-- /.media_list -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <!-- <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>The final project for Scalable Machine Learning, Fall 2019.</p>
    </div> -->
    <div class="sidebar-module">
      <!-- <h4>Section</h4> -->
      <!-- <ol class="list-unstyled">
        <li><a href="#deploy_challenges">Challenges</a></li>
        <li><a href="#deploy_app">Application</a></li>
        <li><a href="#deploy_env">Environment</a></li>
        <li><a href="#deploy_code">Code</a></li>
      </ol> -->
    </div>
    <div class="sidebar-module">
      <!-- <h4>Links</h4>
      <ol class="list-unstyled">
        <li><a href="#">Andy</a></li>
        <li><a href="#">Bhargavi</a></li>
        <li><a href="#">Rajkumar</a></li>
      </ol> -->
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
