<hr>

<div class="row">

  <div class="col-sm-8 blog-main">
    <a name="references"></a>
    <div class="blog-post">

      <h2>References</h2>

      <ul>
        <li>"Lesson 4: NLP; Tabular data; Collaborative filtering; Embeddings", Jeremy Howard, https://course.fast.ai/videos/?lesson=4</li>
        <li>"Universal Language Model Fine-tuning for Text Classification", Jeremy Howard, Sebastian Ruder, arXiv:1801.06146 </li>
        <li>"An Evaluation Dataset for Intent Classification and Out-of-Scope Prediction", Stefan et. al, arXiv:1909.02027 </li>
        <li>"A DISCIPLINED APPROACH TO NEURAL NETWORK HYPER-PARAMETERS: PART 1 – LEARNING RATE, BATCH SIZE, MOMENTUM, AND WEIGHT DECAY", Leslie N. Smith, arXiv:1803.09820 </li>
        <li>"GPT-2 model - Talk to Transformers", Adam King, https://talktotransformer.com/</li>
        <li>Google-Research. “Google-Research/Bert.” GitHub, github.com/google-research/bert</li>
        <li>Huggingface. “Huggingface/Transformers.” GitHub, github.com/huggingface/transformers</li>
        <li>“Simpletransformers.” PyPI, pypi.org/project/simpletransformers/</li>
        <li><a href="https://course.fast.ai/deployment_google_app_engine.html" target="_blank">Deploying on Google App Engine</a></li>
        <!--
        <li>https://github.com/google-research/bert</li>
        <li>https://pypi.org/project/simpletransformers/</li>
        <li>https://github.com/huggingface/transformers</li>
           -->
      </ul>
    </div><!-- /.media_list -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <!-- <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>The final project for Scalable Machine Learning, Fall 2019.</p>
    </div> -->
    <div class="sidebar-module">
      <!-- <h4>Section</h4> -->
      <!-- <ol class="list-unstyled">
        <li><a href="#deploy_challenges">Challenges</a></li>
        <li><a href="#deploy_app">Application</a></li>
        <li><a href="#deploy_env">Environment</a></li>
        <li><a href="#deploy_code">Code</a></li>
      </ol> -->
    </div>
    <div class="sidebar-module">
      <!-- <h4>Links</h4>
      <ol class="list-unstyled">
        <li><a href="#">Andy</a></li>
        <li><a href="#">Bhargavi</a></li>
        <li><a href="#">Rajkumar</a></li>
      </ol> -->
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
