<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post">

      <h2>ULMFit</h2>

      <p>Chatbots are widely becoming adopted by businesses in sectors such as Banking and Financial Services and Real Estate to automate and scale customer service areas that previously required live agents to support.<p>

      <p>The automated detection and calibrated response to real-time customer queries can have an enormous financial impact in terms of revenue (i.e. lead generation, sales and marketing optimization) and cost savings (agent headcount,
        customer
        retention) when trained and deployed effectively.</p>

      <p>The Machine Learning (ML) sub-field of Natural Language Processing (NLP) and within it, Intent Classification, provides tools and techniques to create effective and highly accurate customer response and routing workflows that can
        benefit business organizations.</p>
    </div><!-- /.media_list -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <!-- <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>The final project for Scalable Machine Learning, Fall 2019.</p>
    </div> -->
    <div class="sidebar-module">
      <h4>Section</h4>
      <ol class="list-unstyled">
        <li><a href="#">Data set</a></li>
        <li><a href="#">Data preparation</a></li>
        <li><a href="#">Results</a></li>
      </ol>
    </div>
    <div class="sidebar-module">
      <!-- <h4>Links</h4>
      <ol class="list-unstyled">
        <li><a href="#">Andy</a></li>
        <li><a href="#">Bhargavi</a></li>
        <li><a href="#">Rajkumar</a></li>
      </ol> -->
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
